.body {
    margin:0;
}

.main {
    pad: 16px;
}

.footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

.img {
    height: 200;
}
.nav {
    color: black;
    bottom: 1px;
    padding: 16px;
    }
